table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
  }
  
  td
  {
      text-align:center;
  }

  form {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 20px;

  }